/*=============GERAL==================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root{
    font-size: 62.5%;            /*cada 10px é 1rem*/  

    --navHeight: 7.2rem;
    
    /*cores primárias*/
    --hue:208;
    --principalColor: hsl(var(--hue), 100%, 14%);
    --mediumColor: hsl(var(--hue), 100%, 26%);
    --lightColor: hsl(calc(var(--hue) - 22), 23%, 89%);
    --lightColor2: hsl(calc(var(--hue) - 20), 14%, 97%);
    --neutral: #ffffff;

    /*cores secundárias*/
    --title: #212529;
    --text1: #495057;
    --text2: #FFFFFF;
}

html{
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;          /*barra de rolagem sobrepõe a página ao invés de somar na largura da tela*/
    background: var(--lightColor2);
}

.wrapper{
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

section{
    padding-block: 10rem;
}

section header h4{
    font-size: 1.4rem;
    color: var(--principalColor);
    margin-bottom: 1.6rem;
    font-size: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

section header h2{
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--title);
}

section header h1{
    font-size: 3.4rem;
    color: var(--mediumColor);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

section p{
    color: var(--text1);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
}

.button{
    padding: 1.6rem 3.2rem;
    width: fit-content;         /*se adapta conforme tamanho do conteúdo*/
    color: var(--text2);
    background: var(--mediumColor);
    border: none;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;

    display: inline-block;         /*verificar código original: pega a linha inteira e joga os outros elementos para baixo*/
    margin-bottom: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    transition: background 200ms;
}

.button:hover{
    background-color: var(--principalColor);
}

/*=============NAVIGATION==================*/

nav{
    display: flex;
    height: var(--navHeight);

    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;

}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo path{
    fill: var(--mediumColor);
}

nav button path{
    stroke: var(--mediumColor); 
}

nav.scroll{
    background: var(--mediumColor);
}

nav.scroll .logo path{           /*nth-child: seleciona o nº do filho dentre a ordem dos filhos*/
    fill: var(--neutral);           /*letras da logo*/
}

nav.scroll button path{
    stroke: var(--neutral);         /*linhas do menu hamburguer e letras*/
}

nav button{
    background: none;
    border: none;
    cursor: pointer;
}


/*=============MENU EXPANDED==================*/

body.menuExpanded{
    overflow: hidden;
}

body.menuExpanded > :not(nav){          /*aplicar regras abaixo para todos os filhos (>) desta classe, menos (:not) no nav*/
    visibility: hidden;          /*por questões de melhor acessibilidade nos botões, esconde-se as informações das camadas abaixo*/
}

.menu, .closeMenu, body.menuExpanded .openMenu{
    opacity: 0;
    visibility: hidden;
    display: none;
}

body.menuExpanded .menu, body.menuExpanded .closeMenu{
    opacity: 1;
    visibility: visible;
    display: block;
}

.menu{
    transform: translateY(100%);
}

body.menuExpanded .menu{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--mediumColor);

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--navHeight);

    transition: transform 400ms;
    transform: translateY(0);
}

.menu ul:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a{
    text-decoration: none;
    color: var(--text2);
}   

.menu .button{
    background: var(--neutral);
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--mediumColor);
    display: inline-block;
    padding: 1.6rem 3.2rem; 
    margin: 4.8rem 0 8rem 0;
}

.menu .button:hover{
    background-color: var(--principalColor);
    color: var(--text2);
}

.socialMedias{
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}

body.menuExpanded .logo, body.menuExpanded button{
    position: relative;
    z-index: 10;
}

body.menuExpanded .logo path{           
    fill: var(--neutral);           
}

body.menuExpanded button path{
    stroke: var(--neutral);         
}


/*=============HOME==================*/

#home{
    padding-top: calc(4.1rem + var(--navHeight)) ;
}

#home::before{
    content: "";         /*antes de td header, colocar conteúdo determinado, no caso vazio*/
    width: 100%;
    height: calc(113rem + var(--navHeight));
    background-color: var(--lightColor);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home .button{
    margin-inline: auto;
}

#home p{
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--text1);
    margin-bottom: 3.2rem;
}

#home img{
    width: 26rem;
    height: 80%;
    display: block;         /*tirar espaço entre elementos*/
    margin-inline: auto;
    border-radius: 1rem 1rem 0 0;
}

.stats{
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;
    background: var(--neutral);
    border: 1px solid var(--lightColor);
    border-radius: .6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.stat h3{
    font-size: 4.8rem;
    color: var(--title);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

.stat p{
    margin: 0;
    color: var(--principalColor);
    font-size: 1.6rem;
    line-height: 150%;
}


/*=============SERVICES==================*/

#services header h2{
    margin-bottom: 6rem;
}

#services .cards{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

}

#services .card{
    padding: 2.4rem;
    text-align: left;
    border: 0.1rem solid var(--lightColor);
    border-radius: .6rem;
    background: var(--text2);
}

#services .card circle{
    fill: var(--lightColor);
}

#services .card h3{
    margin-block: 1.6rem;
}


/*=============ABOUT==================*/

#about{
    text-align: left;
    background: var(--neutral);
}

#about header h2{
    margin-bottom: 2.4rem;
}

#about .content p{
    margin-block: 2.4rem 6rem;
}

#about .wrapper .content img{
    margin-inline: auto;
    border-radius: 1rem;
}


/*=============CONTACT==================*/
#contact{
    text-align: left;
}

#contact header{
    margin-bottom: 3.2rem;
}

#contact ul{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

#contact ul li{
    display: flex;
    align-items: center;
    gap: .8rem;
}

#contact ul li path{
    stroke: var(--mediumColor);
}

#contact .wrapper .content img{
    margin-inline: auto;
    border-radius: 1rem;
}


/*=============FOOTER==================*/

footer{
    background: var(--mediumColor);
    padding-block: 6rem;
    text-align: left;
    color: var(--text2);
}

footer .logo{
    display: inline-block;      /*tag a não aceita margin pois seu display padrão é apenas inline*/
    margin-bottom: 2.4rem;
}

footer .logo svg{
    width: 23.6rem;
    height: 3.1rem;
}

footer .logo path{
    fill: white;
}

footer  p{
    color: var(--neutral);
    line-height: 2;
    margin-bottom: 3.2rem;
}

footer .socialMedias{
    justify-content: left;
}


/*Back to top button*/
#backToTopButton{
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    transform: translateY(100%);
    transition: 200ms;

    opacity: 0;
    visibility: hidden;
}

#backToTopButton.show{
    opacity: 1;
    visibility: initial;
    transform: rotateY(0);
}

#backToTopButton circle{
    fill: var(--mediumColor);
}